@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#background {
    background-color: #14322f;
    height: 100vh;
    width: 50vw;
    z-index: -1;
    position: absolute;
    left: 0;

}

#wave-background {    
    background-color: #14322f;
    height: 100%;
    width: 100%;
    clip-path: ellipse(8% 70% at 45% 50%);
    position: absolute;
    z-index: -1;
    left: 0;
}

main {
    width: 350px;
    margin: auto;
    margin-top: 80px;
    border-radius: 7px;
    box-shadow: 0 0 10px 10px #001b018e;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(130deg,#091116, #223f33);
    background-repeat: no-repeat;
}

img {
    width: 100%;
    display: block;
}

#nome-e-gostei {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

h2 {
    color: white;
    font-size: 1.4em;
}

span {
    color: white;
}

span:hover {
    display: none;
}

#coracao-curtido {
    color: white;
    width: 30px;
    display: none;
}

#coracao-curtido:hover {
    display: block;
}


p {
    color: lightgray;
    margin-top: 10px;
}

audio {
    width: 100%;
    border-radius: 0;
    margin-top: 20px;
}