@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#background {
    background-color: #14322f;
    height: 100%;
    width: 42%;
    z-index: -1;
    position: absolute;
    left: 0;
}

#wave-background {    
    background-color: #14322f;
    height: 100%;
    width: 100%;
    clip-path: ellipse(8% 70% at 45% 50%);
    position: absolute;
    z-index: -1;
    left: 0;
}

main {
    width: 350px;
    margin: auto;
    margin-top: 80px;
    border-radius: 7px;
    box-shadow: 0 0 10px 10px #001b018e;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(130deg,#091116, #223f33);
    background-repeat: no-repeat;
}

.tocando {
    margin: 2px auto 0px auto;
    text-transform: uppercase;
    font-size: 0.9em;
    color: rgba(211, 211, 211, 0.71);
}

.nome-podcast {
    margin: 0px auto 15px auto;
    color: white;
    font-weight: bold;
}

img {
    width: 100%;
    display: block;
}

#nome-e-gostei {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

h2 {
    color: white;
    font-size: 1.4em;
}

p {
    color: lightgray;
    margin-top: 10px;
}

audio {
    width: 100%;
    border-radius: 0;
    margin-top: 20px;
}

#voltar {
    background-color: #245b55;
    padding: 10px;
    border-radius: 15px;
    position: absolute;
    bottom: 180px;
}

#voltar:hover {
    background-color: #153632;
    cursor: pointer;
}

span#botao-voltar {
    font-size: 2.5em;
    color: white;
}